/* css for overall page */

/* selects all elements */
* {
    margin: 0; /* giving margin 0 for all element */
    padding: 0; /* giving padding 0 */
    list-style: none; /* To remove bullet */
    text-decoration: none; /* no line is drawn */
    box-sizing: border-box; /*  and border are included in the width and height */
}
/* body */
body {
    background-color: #e6dfdf; /* setting body background-color */
}

/*nav styling*/
nav {
    justify-content: center; /* distributes space between and around content items */
    align-items: center; 
    background-color: rgb(45, 185, 176); /* setting nav background-color */
    height: 40px; /* setting height 40px */
}

.navMenu {
    display: flex; /*sets the flexible length on flexible items*/
}

/* logo */
.logO a {
    color: white; /*setting logo letter color*/
    font-size: 31px; /* setting font size 31px*/
    font-weight: bold; /* setting font size bold */
    margin: 10px; /*setting margin 10px*/
    left: 0px;
}

.logO a span {
    color: #fb839e; /*setting logo span color*/
}



/* navbar */
nav ul {
    display: flex;/*sets the flexible length on flexible items*/
    float: right; /*element floats to the right */
    overflow: auto;/*better control of the layout*/
    margin-right: 20px; /*setting margin 20px on right*/
}

nav li {
    display: inline-block;
    margin-left: 30px; /*setting margin 30px on left*/
}

nav ul li a {
    display: block;/*makes the whole link area clickable */
    color: white;/*setting letter color white*/
    width: 100%;
    font-size: 23px;/* setting font size 23px*/
}

.navMenu li {
    border: 2px solid transparent;
    border-bottom: 2px solid #fff;
    margin-right: 0px; /*setting margin 0px on right*/
    padding-right: 30px;
    transition: border 0.8s ease;
}

.navMenu li:hover {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid transparent;
}

/* hamburger icon */
.haam {
    cursor: pointer;
    font-size: 40px; /* setting font size 21px*/
}

/* sidebar*/
.sidebar {
    background-color: #2c3e50;
    position: fixed; /*stays in the same place even if the page is scrolled*/
    top: 40px; /*setting space from top 40px*/
    width: 30%; /*setting width 30px*/
    left: -35%;
    z-index: 1;
    height: 100%; /* setting height 100% fir sidebar */
    opacity: 0.7;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5); /*setting boxshadow color for side bar*/
    transition: left 0.7s ease-in-out;
}

#check {
    display: none; /*setting display none*/
}

.close {
    cursor: pointer;
    font-weight: 800;
    color: white;
    float: right; /*element floats to the right */
    padding: 1rem;
}

.open {
    position: relative; /*positioned relative to its normal position*/
    cursor: pointer;
    color: black; /*setting color*/
    font-size: 40px; /* setting font size 40px*/
    top: 0px;
    display: none;
}

#check:checked~.sidebar {
    left: 0;

}

#check:checked~.content {
    background-color: rgba(0, 0, 0, 0.5); /*setting background-color*/
}

.navDiv {
    margin-top: -33px; /*setting margin -33px on top*/
}

.sidebar a {
    color: white; /*setting color*/
    display: block; /*makes the whole link area clickable */
    padding: 16px;
}

.sidebar a.active {
    background-color: rgb(45, 185, 176); /*setting background-color*/
    color: white; /*setting letter color*/
}

.sidebar a:hover:not(.active) {
    color: white; /*setting letter color*/
    background-color: rgb(45, 185, 176); /*setting background-color*/
}

div.content {
    height: 1000px; /* setting height 1000px */
    padding: 1px 16px;
    margin-left: 200px; /*setting margin 200px on left*/
}
/* media screen for responsive logo, ham and sidebar */

@media screen and (max-width: 802px) {
    .logO {
        padding: 1px;
        font-size: 10px; /* setting font size 21px*/
    }

    .haam {
        display: block; /*setting display block for haam*/
        cursor: pointer;
    }

    .open {
        display: initial;
    }

    nav ul {
        text-align: center;
        height: 100vh; /* setting height 100vh */
        width: 100%;
        left: 0;
        top: 71px;
        transition: border 0.4s ease;
        background: rgb(45, 185, 176); /*setting background-color*/
        position: fixed; /*stays in the same place even if the page is scrolled*/
    }

    nav ul li {
        display: block; /*setting display block for nav*/
        line-height: 20px; /* setting line-height 20px */
        margin: 30px 0;

    }

    nav ul li a {
        font-size: 10px; /* setting font size 10px*/
    }

    .navMenu {
        display: none; /* setting display none*/
    }

    .logoHam {
        display: flex; /* settinf display flex for logoHam*/
    }

    .logoHam label {
        margin-right: 50px; /*setting margin-right 50px*/
    } 


}


/*home section styling*/

.grid-container {
    display: grid; /*setting display grid for grid-container*/
    grid-gap: 100px;/*shorthand property for the row-gap and the column-gap properties*/
    grid-template-columns: auto auto; /*specifies the size of the columns, and how many columns in a grid layout*/
    padding: 10px; /*setting padding 10px for top,right,bottom,left*/
}

.grid-container .grid-item2 {
    grid-column-start: 7; /*specifies where to start the grid item*/
    grid-column-end: 10; /*Specifies where to end the grid item*/
}

.home {
    display: inline-flex;
    align-items: center;
    height: 700px; /* setting height 700px */
}

.info {
    color: black; /*setting color*/
    font-size: 45px; /* setting font size 45px*/
}

/* image */
.image {
    width: 70%;
    height: 50vh; /* setting height 50vh */
    border-radius: 50%;
}


/* footer */
.innerfooter {
    background-color: #fb839e; /*setting background-color*/
}

.con {
    font-size: 25px; /* setting font size 20px*/

}

.allow {
    font-size: 20px; /* setting font size 20px*/
}

.social-links {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px; /* setting font size 50px*/
}

/* media screen for responsive image and footer*/
@media screen and (max-width: 802px) {
    .image {
        width: 100%;
        height: auto; /* setting height auto for image*/
        border-radius: 50%;
    }
    footer{
        background-color: #fb839e; /*setting footer color*/
        font-size: 20px; /* setting font size 20px*/
    }
    .grid-container {
        display: grid; /*setting display grid for grid-container*/
        grid-gap: 10px;/*shorthand property for the row-gap and the column-gap properties*/
        grid-template-columns: auto; /*specifies the size of the columns, and how many columns in a grid layout*/
        padding: 10px;
    }


}
/* contact page styling */
.headingContact {
    margin: 0; /*setting margin 0px*/
    font-size: 40px; /* setting font size 40px*/
    font-weight: normal; /* setting font-weight normal */
    color: black; /*setting letter color*/
    line-height: 40px; /* setting lineheight 40px */
    margin-left: 480px; /*setting margin 480px on left*/
}

.FormContainer {
    background-color: #e6dfdf; /*setting background-color*/

}

.grid-container2 {
    display: grid; /*setting display grid for grid-container2*/
    grid-gap: 10px;
    grid-template-columns: auto auto;
    padding: 10px;
}


input[type="text"],
select,
textarea {
    resize: none;
    border: 2px solid black; /*setting border color solid black*/
    margin-bottom: 19px; /**/
    border-radius: 10px;
    padding: 11px;
    margin-top: 7px; /*setting margin 7px on top*/
    box-sizing: border-box; /*padding and border are included in the width and height*/
    width: 100%;
}

.submit {
    cursor: pointer;
    width: 10%;
    border-radius: 50px;
    border: 2px solid black; /*setting border color solid black*/
    padding: 10px 5px 10px 15px;
}

.submit:hover {
    background-color: rgb(45, 185, 176); /*setting background color of hover when pressed*/
    border: 2px solid #fff;
}
/* map */
.mAp {
    position: relative; /*positioned relative to its normal position*/
    border: 10px;
    top: 410px;
    left: 10px;
    padding-left: 350px;
}
/* media screen for responsive map and contact form*/
@media screen and (max-width: 802px) {
    .headingContact {
        margin-left: 10px;  /*setting margin 10px on left*/

    }
    
    .grid-container2 {
        display: grid; /*setting display grid for grid-container2*/
        grid-gap: 10px;/*shorthand property for the row-gap and the column-gap properties*/
        grid-template-columns: auto; /*specifies the size of the columns, and how many columns in a grid layout*/
        padding: 10px;
    }
    .grid-item3 {
        width: 60%;
        margin-top: 0; /*setting margin 0 on top*/
    }
    .submit {
        padding: 5px;
        cursor: pointer;
        width: 20%;
        border-radius: 50px;
        border: 2px solid black; /*setting border color solid black*/
    
    }
    .submit:hover {
        background-color: rgb(45, 185, 176); /*setting background color of hover when pressed*/
        border: 2px solid #fff;
    }
    .mAp{
        top: 100px;
        left: 0px;
        padding-left: 0px;

    }
    
}

/* blog-styling */
.grid-container3 {
    margin: 20px;
    background-color: #e6dfdf;
    display: grid; /*setting display grid for grid-container3*/
    grid-template-columns: 550px 500px 330px;
    grid-column-gap: 30px;  
}
.grid-container3 > div{
    border: 2px solid black;

}
.design{
    height: 90%;
    width: 100%;
}
.design2{
    height: 90%;
    width: 100%;
}
.design3{
    height: 90%;
    width: 100%
}
.text{
    font-size: 25px;
}
.rotat{
    z-index: 1;
    background-color: #1fc586;
    transition: all 8s ease-in-out;
}
.rotat:hover{
    transform: rotate(45deg);
}
/* media screen for responsive blog grid */
@media screen and (max-width: 802px) {
    .grid-container3{
        grid-gap: 10px;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .grid-container3 .grid-item5{
        grid-row: 1 / 2;
    }
    .grid-container3 .grid-item6{
        grid-row: 3 / 4;
    }
    .grid-container3 .grid-item7{
        grid-row: 5 / 6;
    }
    .design{
        height: 70%;
        width: 100%;
    }
    .design2{
        height: 70%;
        width: 100%;
    }
    .design3{
        height: 90%;
        width: 100%
    }
    .text{
        font-size: 15px;
    }
}
/* portfolio styling */
.port{
    margin: 5px; /* setting margin 5px */
}
.pic1{
    width: 100%; /*setting width 100% of pic1*/
    height: 100%; /*setting height 100% of pic1*/

}
.pic2{
    width: 100%; /*setting width 100% of pic2*/
    height: 100vh; /*setting height 100vh of pic2*/

}
.pic3{
    width: 50vh;/*setting width 50vh of pic3*/
    height: 100%; /*setting height 100% of pic3*/

}
.pic4{
    width: 50vh; /*setting width 50vh of pic4*/
    height: 100vh; /*setting height 100vh of pic4*/

}
.pic5{
    width: 100%; /*setting width 100% of pic5*/
    height: 100vh; /*setting height 100vh of pic5*/
}

.grid-container4{
    background-color: #e6dfdf; /*setting background color for grid-container4*/
    display: grid; /*setting display grid*/
    grid-template-columns:  auto auto auto ; /*setting columns*/
    grid-gap: 2px; /* setting grid gap for columns and rows*/
    grid-template-rows: auto auto auto auto; /* setting grid rows*/
    
    

}
.grid-container4 > div {
    border: 2px solid black; /*setting border solid black*/
    
}
.grid-container4 .grid-item8 {
    grid-row-start: 1; /*setting row start 1 for item8*/
    grid-row-end: 3; /*setting row end 3 for item8*/
}
.grid-container4 .grid-item9 {
    grid-column: 2 / 4; /*columnstart 2 end 4*/
    grid-row: 1 / 2; /*row start 1 end 2*/
}
.grid-container4 .grid-item10 {
    grid-row: 2 / 5; /*row start 2 end 5*/
    grid-column: 3 / 4; /*columnstart 3 end 4*/
    
}
.grid-container4 .grid-item11 {
    grid-column: 2 / 3; /*columnstart 2 end 3*/
    grid-row: 2 / 3; /*row start 2 end 3*/
}
.grid-container4 .grid-item12 {
    grid-row: 4 / 5; /*row start 4 end 5*/
    grid-column: 1 / 3; /*columnstart 1 end 3*/
}

/* media screen for responsive grid image */
@media screen and (max-width: 802px) {

    .pic1{
        width: 100%; /*setting width 100%*/
        height: 100%; /* setting height 100% */
    
    }
    .pic2{
        width: 100%; /*setting width 100%*/
        height: 100vh; /* setting height 100vh */
    
    }
    .pic3{
        width: 100%; /*setting width 100%*/
        height: 100%; /* setting height 100% */
    
    }
    .pic4{
        width: 100%; /*setting width 100%*/
        height: 100vh; /* setting height 100vh */
    
    }
    .pic5{
        width: 100%; /*setting width 100%*/
        height: 100vh; /* setting height 100vh */
    }
    .grid-container4 .grid-item8 {
        grid-column: 1 / 3; /*columnstart 1 end 3 for item8*/
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .grid-container4 .grid-item9 {
        
        grid-column: 1 / 3; /*columnstart 1 end 3 for item9*/
        grid-row: 2 / 3; /*row start 2 end 3 for item9*/
    }
    .grid-container4 .grid-item10 {
        grid-row: 3 / 4;  /*row start 3 end 4 for item10*/
        grid-column: 1 / 3; /*columnstart 1 end 3 for item10*/
        
    }  
    .grid-container4 .grid-item11 {
        grid-column: 1 / 3; /*columnstart 1 end 3 for item11*/
        grid-row: 4 / 5;  /*row start 4 end 5 for item11*/
    }
    .grid-container4 .grid-item12 {
        grid-row: 5 / 6; /*row start 5 end 6 for item12*/
        grid-column: 1 / 3; /*columnstart 1 end 3 for item12*/
    }  
}
/* sitereport */
.report{
    margin: 20px; /*setting margin 20px*/
    font-size: 25px; /* setting fontsize 25px */
}
.rang{
    color: #fb839e;
}