/* css for overall page */

/* selects all elements */
* {
    margin: 0; /* giving margin 0 for all element*/
    padding: 0; /*giving padding 0*/
    list-style: none; /* To remove bullet */
    text-decoration: none; /* no line is drawn */
    box-sizing: border-box; /*padding and border are included in the width and height*/
}
/* body */
body {
    background-color: #e6dfdf; /*setting body background-color*/
}

/*nav styling*/
nav {
    justify-content: center; /*distributes space between and around content items*/
    align-items: center;
    background-color: rgb(45, 185, 176); /*setting nav background-color*/
    height: 40px;
}

.navMenu {
    display: flex;/*sets the flexible length on flexible items*/
}

/* logo */
.logO a {
    color: white;/*setting logo letter color*/
    font-size: 31px;
    font-weight: bold;
    margin: 10px; /*setting margin 10px*/
    left: 0px;
}

.logO a span {
    color: #fb839e; /*setting logo span color*/
}



/* navbar */
nav ul {
    display: flex;/*sets the flexible length on flexible items*/
    float: right; /*element floats to the right */
    overflow: auto;/*better control of the layout*/
    margin-right: 20px;
}

nav li {
    display: inline-block;
    margin-left: 30px;/*setting margin 30px on left*/
}

nav ul li a {
    display: block;/*makes the whole link area clickable */
    color: white;/*setting letter color white*/
    width: 100%;
    font-size: 23px;/* setting font size 23px*/
}

.navMenu li {
    border: 2px solid transparent;
    border-bottom: 2px solid #fff;
    margin-right: 0px;
    padding-right: 30px;
    transition: border 0.8s ease;
}

.navMenu li:hover {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid transparent;
}

/* hamburger icon */
.haam {
    cursor: pointer;
    font-size: 40px; /* setting font size 21px*/
}

/* sidebar*/
.sidebar {
    background-color: #2c3e50;
    position: fixed; /*stays in the same place even if the page is scrolled*/
    top: 40px;
    width: 30%;
    left: -35%;
    z-index: 1;
    height: 100%;
    opacity: 0.7;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5); /*setting boxshadow color for side bar*/
    transition: left 0.7s ease-in-out;
}

#check {
    display: none;
}

.close {
    cursor: pointer;
    font-weight: 800;
    color: white;
    float: right; /*element floats to the right */
    padding: 1rem;
}

.open {
    position: relative; /*positioned relative to its normal position*/
    cursor: pointer;
    color: black; /*setting color*/
    font-size: 40px;
    top: 0px;
    display: none;
}

#check:checked~.sidebar {
    left: 0;

}

#check:checked~.content {
    background-color: rgba(0, 0, 0, 0.5); /*setting background-color*/
}

.navDiv {
    margin-top: -33px;
}

.sidebar a {
    color: white; /*setting color*/
    display: block;
    padding: 16px;
}

.sidebar a.active {
    background-color: rgb(45, 185, 176); /*setting background-color*/
    color: white; /*setting letter color*/
}

.sidebar a:hover:not(.active) {
    color: white; /*setting letter color*/
    background-color: rgb(45, 185, 176); /*setting background-color*/
}

div.content {
    height: 1000px;
    padding: 1px 16px;
    margin-left: 200px;
}
/* media screen for responsive logo, ham and sidebar */

@media screen and (max-width: 802px) {
    .logO {
        padding: 1px;
        font-size: 10px; /* setting font size 21px*/
    }

    .haam {
        display: block;
        cursor: pointer;
    }

    .open {
        display: initial;
    }

    nav ul {
        text-align: center;
        height: 100vh;
        width: 100%;
        left: 0;
        top: 71px;
        transition: border 0.4s ease;
        background: rgb(45, 185, 176); /*setting background-color*/
        position: fixed; /*stays in the same place even if the page is scrolled*/
    }

    nav ul li {
        display: block;
        line-height: 20px;
        margin: 30px 0;

    }

    nav ul li a {
        font-size: 10px; /* setting font size 10px*/
    }

    .navMenu {
        display: none; /**/
    }

    .logoHam {
        display: flex; /**/
    }

    .logoHam label {
        margin-right: 50px;
    }


}


/*home section styling*/

.grid-container {
    display: grid;
    grid-gap: 100px;/*shorthand property for the row-gap and the column-gap properties*/
    grid-template-columns: auto auto; /*specifies the size of the columns, and how many columns in a grid layout*/
    padding: 10px;
}

.grid-container .grid-item2 {
    grid-column-start: 7; /*specifies where to start the grid item*/
    grid-column-end: 10; /*Specifies where to end the grid item*/
}

.home {
    display: inline-flex;
    align-items: center;
    height: 700px;
}

.info {
    color: black; /*setting color*/
    font-size: 45px; /* setting font size 45px*/
}

/* image */
.image {
    width: 70%;
    height: 50vh;
    border-radius: 50%;
}


/* footer */
.innerfooter {
    background-color: #fb839e; /*setting background-color*/
}

.con {
    font-size: 25px; /* setting font size 20px*/

}

.allow {
    font-size: 20px; /* setting font size 20px*/
}

.social-links {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px; /* setting font size 50px*/
}

/* media screen for responsive image and footer*/
@media screen and (max-width: 802px) {
    .image {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
    footer{
        background-color: #fb839e; /*setting footer color*/
        font-size: 20px;
    }
    .grid-container {
        display: grid;
        grid-gap: 10px;/*shorthand property for the row-gap and the column-gap properties*/
        grid-template-columns: auto; /*specifies the size of the columns, and how many columns in a grid layout*/
        padding: 10px;
    }


}
/* contact page styling */
.headingContact {
    margin: 0;
    font-size: 40px;
    font-weight: normal;
    color: black; /*setting letter color*/
    line-height: 40px;
    margin-left: 480px;
}

.FormContainer {
    background-color: #e6dfdf; /*setting background-color*/

}

.grid-container2 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    padding: 10px;
}


input[type="text"],
select,
textarea {
    resize: none;
    border: 2px solid black; /*setting border color solid black*/
    margin-bottom: 19px; /**/
    border-radius: 10px;
    padding: 11px;
    margin-top: 7px;
    box-sizing: border-box; /*padding and border are included in the width and height*/
    width: 100%;
}

.submit {
    cursor: pointer;
    width: 10%;
    border-radius: 50px;
    border: 2px solid black; /*setting border color solid black*/
    padding: 12px 20px;
}

.submit:hover {
    background-color: rgb(45, 185, 176); /*setting background color of hover when pressed*/
    border: 2px solid #fff;
}
/* map */
.mAp {
    position: relative; /*positioned relative to its normal position*/
    border: 10px;
    top: 310px;
    width: 450px;
    left: 270px;
}
/* media screen for responsive logo, ham and sidebar */
@media screen and (max-width: 802px) {
    .FormContainer {
        background-color: aqua;
        width: 100%;
        margin-top: 0;
    }
    .mAp {
        width: 100%;
    }
}

/* blog-styling */
.grid-container3 {
    background-color: #e6dfdf;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 43px;
    padding: 13px;
}

.grid-container3>div {
    border: 2px solid black; /*setting border color solid black*/
    padding: 15px;
}

.grid-container3 .grid-item7 {
    height: 10%;
    width: 10%;
    border-radius: 20px;


}
/* portfolio styling */
.port{
    margin: 20px;
}
.grid-container4{
    background-color: #e6dfdf;
    display: grid;
    grid-template-columns: 100px 200px 200px 200px;
    grid-column-gap: 30px;
    grid-template-rows: 600px 300px ;
    grid-row-gap: 20px;
    

}
.grid-container4 > div {
    border: 2px solid black; /*setting border color solid black*/
}
.suju{
    width: 100%;
    height: 100%;
}
.tik{
    width: 100%;
    height: 100%;

}
.ground{
    width: 100%;
    height: 100%;
    
}
.fish{
    width: 100%;
    height: 100%;
}
.plant{
    width: 100%;
    height: 100%;
}
.tok{
    width: 100%;
    height: 100%;
}
.grid-container4 .grid-item8 {
    grid-column-start: 1; /*specifies where to start the grid item*/
    grid-column-end: 3; /*Specifies where to end the grid item*/
}
.grid-container4 .grid-item9 {
    grid-column-start: 2;
    grid-column-end: 4;
}
.grid-container4 .grid-item10 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}
.grid-container4 .grid-item11 {
    margin-top: 30px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 6;
}
.grid-container4 .grid-item12 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}